section.portfolio
	+itemWrap({
		src: 'Agency.jpg',
		site: 'Landings/Agency/',
		github: 'Landings/tree/gh-pages/Agency/',
		title: 'Agency',
		description: 'Верстка лэндинга для практики.'
	})
	+itemWrap({
		src: 'CorporateLandingPage.jpg',
		site: 'Corporate-Landing-Page/',
		github: 'Corporate-Landing-Page/',
		title: 'Corporate Landing Page',
		description: 'Верстка лэндинга для практики.'
	})
	+itemWrap({
		src: 'Logstyle.jpg',
		site: 'Landings/logstyle/',
		github: 'Landings/tree/gh-pages/logstyle/',
		title: 'Log-style',
		description: 'Копия сайта log-style.ru.'
	})
	+itemWrap({
		src: 'TZ.jpg',
		site: 'Landings/TZ/',
		github: 'Landings/tree/gh-pages/TZ/',
		title: 'TZ',
		description: 'Тестовое задание.'
	})
	+itemWrap({
		src: 'LandingPage.jpg',
		site: 'Landings/LandingPage/',
		github: 'Landings/tree/gh-pages/LandingPage/',
		title: 'Landing Page',
		description: 'Верстка лэндинга для практики.'
	})
	+itemWrap({
		src: 'NightVision.jpg',
		site: 'Landings/NightVision/',
		github: 'Landings/tree/gh-pages/NightVision/',
		title: 'NightVision',
		description: 'Верстка лэндинга для практики.'
	})
	+itemWrap({
		src: 'Bootstrap.jpg',
		site: 'Landings/Bootstrap/',
		github: 'Landings/tree/gh-pages/Bootstrap/',
		title: 'Bootstrap',
		description: 'Верстка лэндинга для практики.Bootstrap.'
	})
	+itemWrap({
		src: 'Sakura.jpg',
		site: 'Sakura/',
		github: 'Sakura/',
		title: 'Sakura',
		description: 'Верстка сайта.'
	})
