mixin skills()
    +name("xs")
    .skills
        .skills__header Языки:
        img(src="./pictures/skills/css3.svg", alt="css3" title="CSS 3").skill.skill__css3
        img(src="./pictures/skills/html5.svg", alt="html5" title="HTML 5").skill.skill__html5
        img(src="./pictures/skills/js.svg", alt="js" title="JavaScript").skill.skill__js
        img(src="./pictures/skills/jade.svg", alt="jade" title="Jade - html препроцессор").skill.skill__jade
        img(src="./pictures/skills/pug.svg", alt="pug" title="Pug - html препроцессор").skill.skill__pug
        img(src="./pictures/skills/nodeSass.svg", alt="nodesass" title="Sass - css препроцессор, порт для nodejs").skill.skill__nodeSass
    .skills
        .skills__header Библиотеки:
        img(src="./pictures/skills/bootstrap.svg", alt="bootstrap" title="Bootstrap - в представлении не нуждается").skill.skill__bootstrap
        img(src="./pictures/skills/jquery.svg", alt="jquery" title="jQuery").skill.skill__jquery
        img(src="./pictures/skills/jQueryUI.svg", alt="jqueryui" title="jQuery UI").skill.skill__jqueryui
    .skills
        .skills__header Инструменты:
        img(src="./pictures/skills/gulp.svg", alt="gulp" title="Gulp - таск-менеджер").skill.skill__gulp
        img(src="./pictures/skills/bower.svg", alt="bower" title="Bower - менеджер пакетов").skill.skill__bower
