.grid__column {
  font-size: 1rem; }

.grid__column {
  display: inline-block;
  vertical-align: top; }

html,
body {
  width: 100%;
  font-size: 16px;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%; }

img, svg {
  max-width: 100%; }

body {
  font-family: 'Ubuntu', sans-serif; }
  @media screen and (max-width: 767px) {
    body {
      background: url(./../images/mobile_bg.png) repeat center; } }
  @media screen and (min-width: 768px) {
    body {
      background: url(./../images/bg.jpg) no-repeat bottom left fixed;
      -webkit-background-size: cover;
      background-size: cover; } }

.bottomLine {
  display: inline-block;
  padding-bottom: 5px;
  padding-right: 10px;
  border-bottom: 2px solid #dd4814; }

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .nav.active {
    background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (max-width: 767px) {
    .nav {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 7%;
      height: 100%;
      z-index: 100; } }
  @media screen and (min-width: 960px) {
    .nav {
      width: 5%; } }

@media screen and (max-width: 767px) {
  .hamburger {
    width: 70px;
    padding: 0.5rem; } }

@media screen and (min-width: 768px) {
  .hamburger {
    padding: 1rem 0;
    margin: auto;
    width: 80%; } }

.hamburger__wrap {
  cursor: pointer;
  height: 35px;
  position: relative; }

.hamburger__icon {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
  .hamburger__icon:nth-child(1) {
    top: 0; }
  .hamburger__icon:nth-child(2) {
    top: 15px; }
  .hamburger__icon:nth-child(3) {
    top: 30px; }
  .hamburger__active .hamburger__icon {
    top: 15px; }
    .hamburger__active .hamburger__icon:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .hamburger__active .hamburger__icon:nth-child(2) {
      -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      transform: rotate(-225deg); }
    .hamburger__active .hamburger__icon:nth-child(3) {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.about {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: auto;
  z-index: 99; }
  .about.active {
    background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (max-width: 767px) {
    .about {
      position: absolute;
      width: 100%;
      right: 100%; }
      .about.active {
        right: 0; } }
  @media screen and (min-width: 768px) {
    .about {
      display: block;
      position: fixed;
      left: 7%;
      top: 0;
      width: 90%;
      max-height: 100%;
      -webkit-border-radius: 0 0 15px 0;
      border-radius: 0 0 15px 0;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      .about.active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  @media screen and (min-width: 960px) {
    .about {
      left: 5%;
      width: 85%; } }
  @media screen and (min-width: 1150px) {
    .about {
      width: 80%; } }

.portfolio {
  padding: 10px 20px;
  font-size: 0; }
  @media screen and (min-width: 768px) {
    .portfolio {
      margin-left: 7%; } }
  @media screen and (min-width: 960px) {
    .portfolio {
      margin-left: 5%; } }

.grid__column {
  padding: 0 8px; }
  @media screen and (max-width: 549px) {
    .grid__column {
      width: 100%; } }
  @media screen and (min-width: 550px) {
    .grid__column {
      width: 50%; } }
  @media screen and (min-width: 768px) {
    .grid__column {
      width: 50%; } }
  @media screen and (min-width: 960px) {
    .grid__column {
      width: 33.33333%; } }
  @media screen and (min-width: 1150px) {
    .grid__column {
      width: 25%; } }

.portfolio__article {
  margin: auto;
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 1px #000;
  box-shadow: 0px 0px 5px 1px #000;
  position: relative;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .portfolio__article:hover {
    border-color: #dd4814; }
    .portfolio__article:hover .pArticle__header,
    .portfolio__article:hover .pArticle__footer {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }

.pArticle__header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  text-align: left;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.pArticle__h {
  margin: 0 0 5px; }

.pArticle__p {
  margin-bottom: 5px;
  color: #afafaf; }

.portfolio__image {
  display: block; }

.pArticle__footer {
  position: absolute;
  top: auto;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition-duration: .4s;
  -o-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%); }

.listLinks {
  list-style: none;
  padding: 0;
  margin: 0; }

.listLinks__item {
  display: inline-block;
  margin: 10px;
  vertical-align: middle; }

.listLinks__link {
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  fill: #fff; }
  .listLinks__link + .listLinks__link {
    margin-left: 2rem; }
