html,
body {
  width: 100%;
  font-size: 16px;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%; }

img, svg {
  max-width: 100%; }

@media screen and (max-width: 767px) {
  body {
    background: url(./../images/mobile_bg.png) repeat center; } }

@media screen and (min-width: 768px) {
  body {
    background: url(./../images/bg.jpg) no-repeat bottom left fixed;
    -webkit-background-size: cover;
    background-size: cover; } }

.nav {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .nav.active {
    background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (max-width: 767px) {
    .nav {
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .nav {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      width: 7%;
      height: 100%;
      z-index: 100; } }
  @media screen and (min-width: 960px) {
    .nav {
      width: 5%; } }

@media screen and (max-width: 767px) {
  .hamburger {
    width: 70px;
    padding: 0.5rem; } }

@media screen and (min-width: 768px) {
  .hamburger {
    padding: 1rem 0;
    margin: auto;
    width: 80%; } }

.hamburger__wrap {
  cursor: pointer;
  height: 35px;
  position: relative; }

.hamburger__icon {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  display: block;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
  .hamburger__icon:nth-child(1) {
    top: 0; }
  .hamburger__icon:nth-child(2) {
    top: 15px; }
  .hamburger__icon:nth-child(3) {
    top: 30px; }
  .hamburger__active .hamburger__icon {
    top: 15px; }
    .hamburger__active .hamburger__icon:nth-child(1) {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
    .hamburger__active .hamburger__icon:nth-child(2) {
      -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      transform: rotate(-225deg); }
    .hamburger__active .hamburger__icon:nth-child(3) {
      -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.about {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: auto;
  z-index: 99; }
  .about.active {
    background-color: rgba(0, 0, 0, 0.9); }
  @media screen and (max-width: 767px) {
    .about {
      position: absolute;
      width: 100%;
      right: 100%; }
      .about.active {
        right: 0; } }
  @media screen and (min-width: 768px) {
    .about {
      display: block;
      position: fixed;
      left: 7%;
      top: 0;
      width: 90%;
      max-height: 100%;
      -webkit-border-radius: 0 0 15px 0;
      border-radius: 0 0 15px 0;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); }
      .about.active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  @media screen and (min-width: 960px) {
    .about {
      left: 5%;
      width: 85%; } }
  @media screen and (min-width: 1150px) {
    .about {
      width: 80%; } }
