mixin projects()
    section.projects
        .project
            +itemWrap({
                src: 'Agency.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/Agency/',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/Agency/',
                title: 'Agency',
                description: 'Верстка лэндинга для практики.'
            })
        .project
            +itemWrap({
                src: 'CorporateLandingPage.jpg',
                site: 'https://Kirk-Terekhin.github.io/Corporate-Landing-Page/',
                github: 'https://github.com/Kirk-Terekhin/Corporate-Landing-Page/',
                title: 'Corporate Landing Page',
                description: 'Верстка лэндинга для практики.'
            })
        .project
            +itemWrap({
                src: 'Logstyle.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/logstyle',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/logstyle/',
                title: 'Log-style',
                description: 'Копия сайта log-style.ru.'
            })
        .project
            +itemWrap({
                src: 'Gift.jpg',
                github: 'https://github.com/Kirk-Terekhin/Gift/',
                title: 'Gift.kg',
                description: 'Создание магазина новогодних подарков на CMS OpenCart.'
            })
        .project
            +itemWrap({
                src: 'TZ.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/TZ/',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/TZ/',
                title: 'TZ',
                description: 'Тестовое задание.'
            })
        .project
            +itemWrap({
                src: 'LandingPage.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/LandingPage/',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/LandingPage/',
                title: 'Landing Page',
                description: 'Верстка лэндинга для практики.'
            })
        .project
            +itemWrap({
                src: 'NightVision.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/NightVision/',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/NightVision/',
                title: 'NightVision',
                description: 'Верстка лэндинга для практики.'
            })
        .project
            +itemWrap({
                src: 'Bootstrap.jpg',
                site: 'https://Kirk-Terekhin.github.io/Landings/Bootstrap/',
                github: 'https://github.com/Kirk-Terekhin/Landings/tree/gh-pages/Bootstrap/',
                title: 'Bootstrap',
                description: 'Верстка лэндинга для практики.Bootstrap.'
            })
        .project
            +itemWrap({
                src: 'Sakura.jpg',
                site: 'https://Kirk-Terekhin.github.io/Sakura/',
                github: 'https://github.com/Kirk-Terekhin/Sakura/',
                title: 'Sakura',
               description: 'Верстка сайта.'
           })
        .project
            +itemWrap({
                src: 'PageOnlineStore.jpg',
                site: 'https://Kirk-Terekhin.github.io/PageOnlineStore/',
                github: 'https://github.com/Kirk-Terekhin/PageOnlineStore/',
                title: 'PageOnlineStore',
                description: 'Верстка страницы интернет магазина для практики.'
            })
        .project
            +itemWrap({
                src: 'Connect.jpg',
                github: 'Connect/',
                title: 'Connect.kg',
                description: 'Колл центр Connect.CMS Joomla.'
            })
        .project
            +itemWrap({
                src: 'Family.jpg',
                github: 'Family/',
                title: 'Family.kg',
                description: 'Дом отдыха "Семья".CMS Joomla.'
            })
        .project
            +itemWrap({
                src: 'Karacenter.jpg',
                github: 'KaraCenter/',
                title: 'KaraCenter',
                description: 'Создание Landing Page на CMS Joomla.'
            })
        .project
            +itemWrap({
                src: 'DrumTab.jpg',
                site: 'https://ragnarokdrum.stackblitz.io/list',
                github: 'https://github.com/Kirk-Terekhin/Drum-Tab',
                title: 'Drum Tab',
                description: 'Первое приложение на Angular (4v).Без стилей,только функционал.'
            })
        .project
            +itemWrap({
                src: 'Toe-to-Toes.jpg',
                site: 'https://kirk-terekhin.github.io/Toe-to-Toes/',
                github: 'https://github.com/Kirk-Terekhin/Toe-to-Toes',
                title: 'Toe to Toes',
                description: '...'
            })
        .project
            +itemWrap({
                src: 'YgarockAPP.jpg',
                site: 'https://deathmetalldrummer.github.io/YgarockAPP/',
                github: 'https://github.com/Deathmetalldrummer/YgarockAPP',
                title: 'YgarockAPP',
                description: '...'
            })
