// Переменные, миксины и т.д.
@import import/var
@import import/placeholders
@import import/mixin

html,
body
	width: 100%
	font-size: 16px
	margin: 0
*
	box-sizing: border-box
	max-width: 100%
img,svg
	max-width: 100%
body


///////////////////////////////////////////////
//  navigation
///////////////////////////////////////////////
.nav
	background-color: $menu_bg
	transition-duration: 500ms
	&.active
		background-color: $menu_bg_active
	+before($before_sm)
		width: $nav_width_xs
	+respond($sm)
		position: fixed
		left: 0
		top: 0
		bottom: 0
		width: $nav_width_sm
		height: 100%
		z-index: 100
	+respond($md)
		width: $nav_width_md
	+respond($lg)


///////////////////////////////////////////////
//  hamburger
///////////////////////////////////////////////
$hamburger__icon_height: 5px
.hamburger
	+before($before_sm)
		width: 70px
		padding: 0.5rem
	+respond($sm)
		padding: 1rem 0
		margin: auto
		width: 80%
.hamburger__wrap
	cursor: pointer
	height: $hamburger__icon_height * 7
	position: relative
.hamburger__active
.hamburger__icon
	position: absolute
	left: 0
	right: 0
	width: 100%
	height: $hamburger__icon_height
	background-color: #fff
	display: block
	border-radius: 4px
	transition-duration: 0.4s
	transform-origin: center
	&:nth-child(1)
		top: 0
	&:nth-child(2)
		top: $hamburger__icon_height * 3
	&:nth-child(3)
		top: $hamburger__icon_height * 6
	.hamburger__active &
		top: $hamburger__icon_height * 3
		&:nth-child(1)
			transform: rotate(135deg)
		&:nth-child(2)
			transform: rotate(-225deg)
		&:nth-child(3)
			transform: rotate(-135deg)



///////////////////////////////////////////////
//  about (unity)
///////////////////////////////////////////////
.about
	// @extend %font_false
	background-color: $menu_bg
	transition-duration: 500ms
	overflow: auto
	z-index: 99
	&.active
		background-color: $menu_bg_active
	+before($before_sm)
		position: absolute
		width: 100%
		right: 100%
		&.active
			right: 0
	+respond($sm)
		display: block
		position: fixed
		left: $nav_width_sm
		top: 0
		width: $about_width_sm
		max-height: 100%
		border-radius: 0 0 15px 0
		transform-origin: left top
		transform: scale(0)
		&.active
			transform: scale(1)
	+respond($md)
		left: $nav_width_md
		width: $about_width_md
		// height: $about_height_md
	+respond($lg)
		width: $about_width_lg
